{% extends "base.jinja2" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" name="login">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
    <div class="alert alert-primary" role="alert">
    You have submitted an invalid CSRF token
    </div>
    {% endif %}
        <div class="form-group">
            {{ form.username.label }}
            {% with %}
                {% set class = "form-control is-invalid" if form.username.errors  else "form-control" %}
                {{ form.username(size=32, class=class) }}
            {% endwith %}
            {% for error in form.username.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {% with %}
                {% set class = "form-control is-invalid" if form.password.errors  else "form-control" %}
                {{ form.password(size=32, class=class) }}
            {% endwith %}
            {% for error in form.password.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
{% endblock %}

